# Node dependencies
node_modules/

# Build output
build/

# Environment variables
.env

# GitHub configuration
.github/

# VS Code settings
.vscode/

# Prettier configuration
.prettierrc

# Logs
/logs/*
!.gitkeep

# Uploaded files
src/uploads/*
!src/uploads/.gitkeep
